body {
	background-image: url("http://i.imgur.com/YGiQgKe.png");
} 
a { 
	background-color: #27cecb; 
	padding: 20px; 
	border: 2px solid #27cecb; 
	margin: 30px;
	width: 100%; 
} 
li {
	padding-right: 100px;
	margin:0 auto;
}
ul li {
	display: inline;
	top: 50px;
}
nav { 
	position: fixed; top: 85px; 
}
 nav, article, section, aside, footer {
 padding: 10px;
 
}
h1{
	display:inline;
	position: absolute;
	left: 10px;
	top: 25px;
}
aside {
    width: 25%;
    float: left;
    position: relative;
    float: right;
    right: 0px;
    top: 110px;
    margin-bottom: 50px;
    background-color: #1fa1ad;
}
footer {
	position: fixed;
   	bottom: 0px;
    height: 60px;
    width: 100%;
    background-color: #1fa1ad;
    z-index: 1000;
    text-align: center;
}
article {
    position: relative;
    width: 66%;
    float: left;
    left: 0px;
    top: 110px;
    margin-bottom: 50px;
}
.nav1 {
	background-color: #27cecb;

}

.relative{
	position: relative;
	top: 30px;
	text-decoration: underline;
	border-style: groove;
}
.header {
	position: fixed;
    left: 0px;
    top: 0px;
    height: 65px;
    width: 100%;
    background-color: #1fa1ad;
    z-index: 1000;
    padding: 5px 10px 10px;
}
.love {
	position: relative;
	top:150px;
	font-size:18px;
	width: 60%
}
#fixed {
	position: fixed;
	left: 400px;
}